
//@theme "/home/ivascu/.local/share/rofi/themes/spotlight.rasi"

//@theme "/home/ivascu/.local/share/rofi/themes/spotlightfirst.rasi"

//@theme "/home/ivascu/.local/share/rofi/themes/spotlight.rasi"

//@theme "/home/ivascu/.local/share/rofi/themes/spotlightfirst.rasi"

@theme "/home/ivascu/.local/share/rofi/themes/spotner.rasi"
